h1,
h2,
h3,
h4,
p,
a {
  font-family: "Roboto Slab", serif;
}

h1 {
  font-size: 25px;
  margin: 5px 0 0 0;
}

h2 {
  font-size: 14px;
  margin: 0 auto;
  color: #48484a;
}

h3 {
  font-size: 45px;
  margin: 0 auto;
}

h4 {
  color: #48484a;
  font-weight: 500;
  font-size: 12px;
  margin: 0 auto;
  text-transform: capitalize;
}

p {
  font-size: 12px;
  margin: 2px 0 0 0;
  color: #48484a;
}

a {
  padding: 0 auto;
  transition: all 150ms ease-in-out;
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
}

.search,
.main {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.fahrenheit.active {
  text-decoration: none;
  cursor: default;
}
.celsius.active {
  text-decoration: none;
  cursor: default;
}
.fahrenheit.active:hover,
.celsius.active:hover {
  color: #000000;
  text-decoration: none;
}
.fahrenheit:hover,
.celsius:hover {
  color: #ec6e4c;
  text-decoration: none;
}
.current-location {
  font-size: 10px;
  display: block;
  margin: 5px 0 20px 0;
  text-align: left;
}

.current-location:hover {
  color: #ec6e4c;
}

.search-button {
  margin: 40px 0 0 -50px;
  border: none;
  color: #48484a;
  background-color: none;
  border: 1px solid #ec6e4c;
  border-radius: 0;
  transition: all 150ms ease-in-out;
}

.search-button:hover {
  color: #ec6e4c;
  background-color: white;
  border: 1px solid #ec6e4c;
  border-radius: 0;
}

.choose-city {
  font-family: "Roboto Slab", serif;
  border: 1px solid #b9b9c2;
  font-size: 12px;
  border-radius: 0;
  margin: 40px 0 0 0;
  transition: all 150ms ease-in-out;
}

.choose-city:focus {
  font-family: "Roboto Slab", serif;
  box-shadow: 0 0 5px #b9b9c2;
  border: 1px solid #b9b9c2;
  border-radius: 0;
  margin: 40px 0 0 0;
}

.top-weather-icon {
  margin: 0 auto;
  height: 40px;
}

.last-phrase {
  font-family: "Roboto Slab", serif;
  color: #000000;
  font-size: 10px;
  display: block;
  margin: 30px auto;
  font-weight: 300;
  text-decoration: none;
}

.last-link:hover {
  text-decoration: none;
  color: #ec6e4c;
}

.weather-forecast {
  text-align: center;
  color: #48484a;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  margin-top: 15px;
}

.weather-forecast-date {
  font-size: 14px;
  color: #000000;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.weather-forecast-temperature {
  font-size: 12px;
}
